<div class="paper-links">
  {% if include.arxiv %}
  <a href="{{ include.arxiv }}" target="_blank">
    <img src="https://img.shields.io/badge/arXiv-PDF-B31B1B?logo=arxiv&logoColor=white" />
  </a>
  {% endif %}

  {% if include.github %}
  <a href="https://github.com/{{ include.github }}" target="_blank">
    <img src="https://img.shields.io/badge/GitHub-Code-181717?logo=github&logoColor=white" />
  </a>
  {% endif %}

  {% if include.star and include.github %}
  <a href="https://github.com/{{ include.github }}" target="_blank">
    <img src="https://img.shields.io/github/stars/{{ include.github }}" />
  </a>
  {% endif %}
</div>
